$c-white: #FFFFFF;
$c-black: #111111;
$s-measure: 16px;

@mixin elemFlexPosition($justify-content, $align-items, $gap) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
}

@mixin dimensions($width, $height) {
  width: $width;
  height: $height;
}

@mixin positionFixed($top, $right, $bottom, $left) {
  position: fixed;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin positionAbsolute($top, $right, $bottom, $left) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}